body {
    background-image: url(https://i.pinimg.com/originals/12/7c/5e/127c5e5e33e137b8881eae16f8e81f31.jpg); /* Replace with the correct path to your image */
    background-size: cover;  /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
  }

p {
    color: #ffffff;
}

ul {
    color: white;
}

.random-role-display{
    color: #ffffff;
}

h1{
    color: white;
}

h2 {
    color: #ffffff;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.random-role-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.random-role-button:hover {
    background-color: #45a049;
}

.random-role-display {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.role-image {
    margin-top: 20px;
    display: block;
    width: 150px;
    height: 150px;
}